@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --bg-1: #fbfdfe;
    --bg-2: #f0f2f4;
    --bg-3: #dfe0e7;
    --fg-1: #050505;
    --fg-2: #143d52;
    --fg-3: #1f5c7a;
    --toggle: #fb923c;
    --primary: #9a8ef5;
    --secondary: #d3cff2;
    --accent: #78c9d3;

    --A: #993D3D;
    --B: #954B39;
    --C: #915934;
    --D: #8C6730;
    --E: #88762C;
    --F: #838327;
    --G: #6D8024;
    --H: #5C8223;
    --I: #498521;
    --J: #348820;
    --K: #1E8B1E;
    --L: #1B8931;
    --M: #1E8648;
    --N: #21845C;
    --O: #24826F;
    --P: #268080;
    --Q: #2F788A;
    --R: #386F94;
    --S: #42679E;
    --T: #4D60A8;
    --U: #5959B3;
    --V: #6857AD;
    --W: #7654A8;
    --X: #8352A3;
    --Y: #8E4F9E;
    --Z: #994D99;
}
